<po-container>
 <h1>{{btnTitulo}}</h1> 

<form [formGroup]="funcionarioForm" (ngSubmit)="submit()" #formDit="ngForm">
<input type="hidden" formControlName="id">

<!-- <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi">
  </mat-form-field> -->
         
<div class="input_box">
    <!-- <mat-form-field> -->
        
        <!-- <mat-label for="">Nome:</mat-label> -->
        <!-- <po-input matInput type="text" formControlName="nome" placeholder="Insira o nome!" required></po-input> -->
        <po-input  p-label="Nome" matInput type="text" formControlName="nome" placeholder="Insira o nome!" required></po-input>
    <!-- </mat-form-field> -->
</div>

<div class="input_box">
        <!-- <mat-label for="">SobreNome:</mat-label> -->
        <po-input p-label="SobreNome" type="text" formControlName="sobreNome" placeholder="Insira o sobrenome!" required></po-input>
</div>

<!-- <mat-form-field>
    <mat-label>Favorite food</mat-label>
    <mat-select>
      @for (food of foods; track food) {
        <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
      }
    </mat-select>
  </mat-form-field> -->


<!-- <div class="input_box">
    <!-- <mat-form-field> --
    <po-label for="">Departamento:</po-label>
    <po-select id="departamento" formControlName="departamento" required>
        <mat-option value="RH">RH</mat-option>
        <mat-option value="Financeiro">Financeiro</mat-option> 
        <mat-option value="Compra">Compra</mat-option> 
        <mat-option value="Atendimento">Atendimento</mat-option>
        <mat-option value="Zeladoria">Zeladoria</mat-option>
    </po-select>
    <!-- </mat-form-field> --
</div> -->

<div class="input_box1">
   
    <po-select 
    id="departamento" formControlName="departamento" required
    p-label="Departamento"
    [p-options]="[
      { label: 'RH', value: 'RH' },
      { label: 'Financeiro', value: 'Financeiro' },
      { label: 'Compra', value: 'Compra' },
      { label: 'Atendimento', value: 'Atendimento' },
      { label: 'Zeladoria', value: 'Zeladoria' }
      
    ]"
  >
  </po-select>
</div>


<!-- <div class="input_box">
    <mat-form-field>
    <mat-label for="">Turno:</mat-label>
    <mat-select id="turno" formControlName="turno" required>
        <mat-option value="Manha">Manha</mat-option>
        <mat-option value="Tarde">Tarde</mat-option> 
        <mat-option value="Noite">Noite</mat-option> 
    </mat-select>
    </mat-form-field>
</div> -->

<div class="input_box1">
    <po-select 
    id="turno" formControlName="turno" required
    p-label="Turno"
    [p-options]="[
      { label: 'Manha', value: 'Manha' },
      { label: 'Tarde', value: 'Tarde' },
      { label: 'Noite', value: 'Noite' },
    ]"
  >
  </po-select>
</div>




<div class="btn-boxPO">
<button type="submit" [disabled]="!funcionarioForm.valid" mat-raised-button color="accent">{{btnAcao}}</button> 
<!-- <po-button   p-label="{{btnAcao}}" (p-click)="onClick()"></po-button> -->

<po-button p-label="Voltar" routerLink="/">Voltar</po-button>
</div>

</form>
</po-container>