
<!-- <div *ngIf="funcionario"> -->
<mat-card>
    <div >
        <h1>Deseja confirmar a Exclusão?</h1>
        <div>
            <!-- <p  style="font-style: bold;">Funcionário:</p>
            <p>{{funcionario.nome}}</p>
            <p style="font-style: bold;" >Departamento:</p>
            <p>{{funcionario.departamento}}</p> -->
        </div>
        <div>
            <button (click)="Excluir()" mat-raised-button color="warn"Warn>Confirmar Exclusão</button>
            <button (click)="Cancelar()" mat-raised-button>Voltar</button>
        </div>
    </div>
</mat-card>